<section>
	<div class="wrapper styling">
	<h1 class="f2 headline lh-title">So Much Outrage</h1>
	<p class = "lh-copy">The latest complaints on Twitter</p>
	<button class="button grow" ng-click="ctrl.reloadRoute()">reload</button>	
	</div>
</section>
<section>
	<div class="wrapper">
		<div class="styling" ng-style = "{'backgroundImage': 'url({{ctrl.images[$index]}})'}" ng-repeat="tweet in ctrl.refTweets track by $index">
			<h1 class="lh-copy">{{tweet}}</h1>
			<!--<img ng-src="{{ctrl.images[$index]}}">-->
		</div>
</section>